{% extends "layout.html" %}
{% block content %}
    <div class="index">
        <h2>Ready to meet your mentor? Register today!</h2>
    
        <p>Want to learn more about Tech Alpharetta?</p>
        <p>Visit <a href="https://techalpharetta.com" target="_blank">techalpharetta.com</a></p>
	  
	<div class="logo">
        <img src="./static/images/logo-techalpharetta-small.png" alt="tech alpharetta logo" height=125px width=250px>
      </div>

        <footer>&copy; Tech Alpharetta • 2972 Webb Bridge Road, Alpharetta, GA 30009 • Tel: 678-664-7958</footer>
    </div>
{% endblock content %}
