{% extends "layout.html" %}
{% block content %}
    
    <h3>Ready to meet your mentor? Register today!</h3>
    
    <p>Want to learn more about Tech Alpharetta?</p>
    <p>Visit <a href="https://techalpharetta.com">techalpharetta.com</a></p>
    <a href="/">
    <img src="./static/images/logo-techalpharetta-small.png" alt="tech alpharetta logo" height=100px width=200px>
    </a>

    <footer>&copy; Tech Alpharetta • 2972 Webb Bridge Road, Alpharetta, GA 30009 • Tel: 678-664-7958</footer>
{% endblock content %}
