{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-evenly">
        <div class="col-md-5">
            <h1>Welcome, {{ current_user.first_name }}</h1>
        </div>
        <div class="col-md-5">
            <!-- Fix for spacing -->
            <h></h>
        </div>
    </div>
    
    <div class="row justify-content-evenly">
        <div class="col-md-5">
            <h2>Your Mentor</h2>
            <div class="card mb-3">
                <!-- Can be retrieved from "Meetings"? -->
                <div class="our-team">
                    <div class="picture">
                      <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
                    </div>
                    <div class="team-content">
                      <h3 class="name">Michele Miller</h3>
                      <h4 class="title">Web Developer</h4>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">View Schedule</a>
                  </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2> Upcoming Meetings</h2>
            <div class="card">
                <!-- Can be retrieved from "Meetings"? -->
                <p class="m-3 text-center">No Upcoming Meetings</p>
            </div>
        </div>
    </div>
{% endblock content %}