{% extends "layout.html" %}

<!-- https://fullcalendar.io/docs -->

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/fullcalendar@5.1.0/main.min.css"/>
    <script src="https://unpkg.com/fullcalendar@5.1.0/main.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          nowIndicator: true,
          editable: false, // enable draggable events
          expandRows: true,
          selectable: true,
          contentHeight: 600,
          aspectRatio: 2,
          allDaySlot: false,
          slotMinTime: '08:00:00',
          slotMaxTime: '18:00:00',
          slotDuration: '00:60:00',

          headerToolbar: {
              left: 'title',
              center: 'saveToDatabase'
          },

          select: function(info) {
              console.log(info.startStr);
              console.log(info.endStr);
              var start_time = new Date(info.startStr);
              var end_time = new Date(info.endStr);
              calendar.addEvent({
                title: 'Open Slot',
                start: start_time,
                end: end_time,
              });
              console.log('Ran');
          },

          eventClick: function(info) {
              info.event.remove();
          },


          customButtons: {
              saveToDatabase: {
                  text: 'Save Schedule',
                  click: function() {
                      alert('Works!');
                      console.log(JSON.stringify(calendar.getEvents()));

                      var data = JSON.stringify(calendar.getEvents());
                      var xmlhttp = new XMLHttpRequest();
                      xmlhttp.open('POST', '/schedule', true);
                      xmlhttp.send("data=" + data);

                  },
              },
          },
        });       

        calendar.render();
      });
    </script>

{% endblock stylesheet %}


{% block content %}
    <div class="row mb-2">
        <div class="col-md-10 offset-md-1">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock content %}


